:root {
	--color-white: #fff;
	--color-gray: #777887;
	--color-green-2: #5a6056;
	--color-green-1: #414b49;
	--color-green: #243227;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Lora', serif;
}

a {
  color: inherit;
  text-decoration: none;
}
