.header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px 7rem;
}
.header img {
	width: 630px;
	height: 500px;
	object-fit: cover;
	border-radius: 7px;
}

.article {
	padding: 0 7rem;
}

.article h1 {
	width: 100%;
	text-align: center;
	color: var(--black);
	font-size: 4rem;
}

.text {
	width: 100%;
	margin-top: 1rem;
	text-align: justify;
	color: var(--black);
	font-size: 1.45rem;
}